NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxxx
SUPABASE_SECRET_KEY=sb_secret_xxxx
ADMIN_SECRET_KEY=clave-secreta-minimo-32-caracteres
NEXT_PUBLIC_APP_URL=https://rifascalderon.com
NEXT_PUBLIC_WHATSAPP_NUMBER=573001234567
NEXT_PUBLIC_NEQUI_NUMBER=3001234567
